.login-page {
	background-color: #ddd;
}
.login-page .login-form-div {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 10px;
	/*margin: 50px 0px;*/
	padding: 15px;
    position: relative;
    top: 100px;
    max-width: 450px;
    vertical-align: middle;
    min-width: 300px;
    margin: 0px auto;
}
.color-border.fixed-bot {
	position: fixed;
	bottom: 0px;
}